<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Меню ресторана</title>
</head>
<body>
    <h1>Меню ресторана</h1>
    <a href="{% url 'add_dish' %}">Добавить новое блюдо</a>
    <div>
        {% if error_message %}
            {{ error_message }}
        {% endif %}
    </div>
    <form action="{% url 'order' %}" method="post">
        {% csrf_token %}
        {% for dish in dishes %}
            <div>
            <input type="checkbox" name="check_{{ dish.id }}" id="check{{ forloop.counter }}" value="{{ dish.id }}" />
            <label for="choice{{ forloop.counter }}">{{ dish.name }} ({{ dish.food_value }} Ккал) - {{ dish.price }} руб.</label>
            {% if dish.image %}
                <img src="{{ dish.image.url }}">
            {% endif %}
            </div>
        {% endfor %}
        <input type="submit" value="Отправить" />
    </form>
</body>
</html>
